@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Materiais</h1>
<div class="row">
    <div class="mb-3 mt-3">
            Este espaço é reservado ao Cadastro de informações aplicadas ao orçamento.
    </div>
</div>
<div class="row">
    <div class="mb-3 mt-3">
        O que você deseja ver?
    </div>
</div>
<div class="row">
    <div class="col">
        <button type="button" class="btn botaoAcesso">Cadastro de Ambientes</button>
    </div>
    <div class="col">
        <button type="button" class="btn botaoAcesso">Cadastro de Categorias</button>
    </div>   
</div>

<style>
    .botaoAcesso,.botaoAcesso:hover{
        background-color: #1A237E;
        color: white;
    }
</style>