@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Materiais</h1>
<div class="modal" id="modalAmbientes">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row">
                <div class="col">
                    <h4 class="modal-title">Cadastro de Ambiente</h4>
                </div>
                <div class="col">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
            </div>           
            <div class="row">
                <div class="col">
                    <input type="search" id="inputAmbiente" class="myinput" placeholder="Buscar Ambiente" />
                    <div class="modal" id="modalCadAmbiente">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Adicionar Ambiente</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="document.getElementById('modalCadAmbiente').style.display = 'none'"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="mb-3 mt-3">
                                            <label id="lblNomeAmbiente" for="NomeAmbiente" class="form-label">Nome do Ambiente</label>
                                            <input type="text" class="form-control" id="NomeAmbiente" name="NomeAmbiente" required />
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="login-btn" onclick="SalvarAmbiente();">Salvar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <table id="myTable">
                        <thead>
                            <tr class="header">
                                <th style="width:50%;">
                                    Nome
                                </th>
                                <th style="width:50%;">
                                    Ações
                                </th>
                            </tr>
                        </thead>
                        <tbody id="dadosAmbiente">
                        </tbody>
                    </table>
                    <script>
                            document.getElementById("inputAmbiente").addEventListener("keyup", function () {
                            var input = this.value.toLowerCase();
                            var rows = document.querySelectorAll("#myTable tr:not(.header)");

                            rows.forEach(function (row) {
                                var text = row.textContent.toLowerCase();
                                row.style.display = text.includes(input) ? "" : "none";
                            });
                        });

                    </script>

                </div>
            </div>

            <div class="modal-footer">
                <div class="col">
                    <button type="button" class="login-btn" onclick="document.getElementById('modalCadAmbiente').style.display = 'block'">Adicionar Ambiente</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="modalCategorias">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Cadastro de Categorias</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="search" id="inputCategoria" class="myinput" placeholder="Buscar Categoria" />
                <!-- The Modal -->
                <div class="modal" id="modalCadCategorias">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Adicionar Categorias</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="document.getElementById('modalCadCategorias').style.display = 'none'"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="row">
                                    <div class="mb-3 mt-3">
                                        <label id="lblNomeCategoria" for="NomeCategoria" class="form-label">Nome da Categoria</label>
                                        <input type="text" class="form-control" id="NomeCategoria" name="NomeCategoria" required />
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="login-btn" onclick="SalvarCategoria();">Salvar</button>
                            </div>

                        </div>
                    </div>
                </div>
                <table id="myTable">
                    <thead>
                        <tr class="header">
                            <th style="width:50%;">
                                Nome
                            </th>
                            <th style="width:50%;">
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody id="dadosCategoria">
                    </tbody>
                </table>
                <script>
                        document.getElementById("inputCategoria").addEventListener("keyup", function () {
                        var input = this.value.toLowerCase();
                        var rows = document.querySelectorAll("#myTable tr:not(.header)");

                        rows.forEach(function (row) {
                            var text = row.textContent.toLowerCase();
                            row.style.display = text.includes(input) ? "" : "none";
                        });
                    });

                </script>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="login-btn" onclick="document.getElementById('modalCadCategorias').style.display = 'block'">Adicionar Categorias</button>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="mb-3 mt-3">
        Este espaço é reservado ao Cadastro de informações aplicadas ao orçamento.
    </div>
</div>
<div class="row">
    <div class="mb-3 mt-3">
        O que você deseja ver?
    </div>
</div>
<div class="row">
    <div class="col">
        <button id="btnAmbientes" type="button" class="btn botaoAcesso" data-bs-toggle="modal" data-bs-target="#modalAmbientes" data-bs-backdrop="false">Cadastro de Ambientes</button>
    </div>
    <div class="col">
        <button id="btnCategorias" type="button" class="btn botaoAcesso" data-bs-toggle="modal" data-bs-target="#modalCategorias" data-bs-backdrop="false">Cadastro de Categorias</button>
    </div>
</div>

<style>
    .botaoAcesso, .botaoAcesso:hover {
        background-color: #1A237E;
        color: white;
    }

    .modal-backdrop {
        display: none !important;
    }

    .login-btn {
        background-color: #0b4d90;
        color: white;
        border: none;
        padding: 14px;
        border-radius: 12px;
        font-size: 16px;
        cursor: pointer;
    }
</style>

<script>
    document.getElementById("btnAmbientes").addEventListener("click", function () {
        ListarAmbientes();
    });
    document.getElementById("btnCategorias").addEventListener("click", function () {
        ListarCategorias();
    });

    function ListarAmbientes(){
         const dadosAmbiente = document.getElementById('dadosAmbiente');
         dadosAmbiente.innerHTML  = "";
         var listaAmbientes = "";

         fetch('/Ambientes/ListarAmbientes', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erro na requisição');
            }
            return response.json();
        })
        .then(data => {
            data.forEach(item => {
                listaAmbientes += "<tr>";
                listaAmbientes += "  <td style='width:50%;'>"+item.Nome+"</td>";
                listaAmbientes += "  <td style='width:50%;'><button type='button' class='login-btn' onclick='ExcluirAmbiente("+item.Id+")'>Excluir</button></td>";
                listaAmbientes += "</tr>";
            });
            console.log(listaAmbientes);
            dadosAmbiente.innerHTML = listaAmbientes;
        })
        .catch(error => {
            console.error('Erro ao consumir a API:', error);
        });
    }

    function SalvarAmbiente(){
        const novoAmbiente = {
            Id: 0,
            Nome: document.getElementById('NomeAmbiente').value,
        };

        const urlDoEndpoint = '/Ambientes/GravarAmbiente';

        fetch(urlDoEndpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(novoAmbiente),
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(text => { throw new Error(text) });
            }
            // Retorna a resposta como um objeto JSON
            return response.json();
        })
        .then(data => {
           document.getElementById('NomeAmbiente').value = '';
           document.getElementById('modalCadAmbiente').style.display = 'none';
           ListarAmbientes();
        })
        .catch(error => {
            console.error('Houve um problema com a requisição:', error.message);
            alert('Erro ao salvar o ambiente: ' + error.message);
        });
    }

    function ExcluirAmbiente(id){
        const urlDoEndpoint = '/Ambientes/ExcluirAmbiente?id='+ id;

        fetch(urlDoEndpoint, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(text => { throw new Error(text) });
            }
            // Retorna a resposta como um objeto JSON
            return response.json();
        })
        .then(data => {
           ListarAmbientes();
        })
        .catch(error => {
            console.error('Houve um problema com a requisição:', error.message);
            alert('Erro ao excluir o ambiente: ' + error.message);
        });
    }

        function ListarCategorias(){
         const dadosCategoria = document.getElementById('dadosCategoria');
         dadosCategoria.innerHTML  = "";
         var listaCategorias = "";

         fetch('/Categorias/ListarCategorias', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erro na requisição');
            }
            return response.json();
        })
        .then(data => {
            data.forEach(item => {
                listaCategorias += "<tr>";
                listaCategorias += "  <td style='width:50%;'>"+item.Nome+"</td>";
                listaCategorias += "  <td style='width:50%;'><button type='button' class='login-btn' onclick='ExcluirCategoria("+item.Id+")'>Excluir</button></td>";
                listaCategorias += "</tr>";
            });
            console.log(listaCategorias);
            dadosCategoria.innerHTML = listaCategorias;
        })
        .catch(error => {
            console.error('Erro ao consumir a API:', error);
        });
    }

    function SalvarCategoria(){
        const novoCategoria = {
            Id: 0,
            Nome: document.getElementById('NomeCategoria').value,
        };

        const urlDoEndpoint = '/Categorias/GravarCategoria';

        fetch(urlDoEndpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(novoCategoria),
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(text => { throw new Error(text) });
            }
            // Retorna a resposta como um objeto JSON
            return response.json();
        })
        .then(data => {
           document.getElementById('NomeCategoria').value = '';
           document.getElementById('modalCadCategorias').style.display = 'none';
           ListarCategorias();
        })
        .catch(error => {
            console.error('Houve um problema com a requisição:', error.message);
            alert('Erro ao salvar a Categoria: ' + error.message);
        });
    }

    function ExcluirCategoria(id){
        const urlDoEndpoint = '/Categorias/ExcluirCategoria?id='+ id;

        fetch(urlDoEndpoint, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(text => { throw new Error(text) });
            }
            // Retorna a resposta como um objeto JSON
            return response.json();
        })
        .then(data => {
           ListarCategorias();
        })
        .catch(error => {
            console.error('Houve um problema com a requisição:', error.message);
            alert('Erro ao excluir a Categoria: ' + error.message);
        });
    }
</script>