body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.login-container {
    width: 100%;
    max-width: 360px;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 160px;
    margin-bottom: 20px;
}

h2 {
    color: #001d3d;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-icon-group {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #0b4d90;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px 12px;
}

    .input-icon-group input {
        border: none;
        background-color: transparent;
        font-size: 14px;
        padding-left: 10px;
        flex: 1;
        outline: none;
    }

        .input-icon-group input::placeholder {
            color: #e6e6e6;
        }

.input-icon {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.toggle-icon {
    width: 24px;
    height: 24px;
    background: url('/img/eye.svg') no-repeat center;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    filter: invert(100%);
}

    .toggle-icon.mostrando {
        background-image: url('/img/eye-off.svg');
    }

.recuperar {
    text-align: right;
    font-size: 12px;
    text-decoration: none;
    color: #0b4d90;
    display: block;
    margin-top: -10px;
}

.login-btn {
    background-color: #0b4d90;
    color: white;
    border: none;
    padding: 50%;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #001d3d;
}

    .register-link a {
        color: #001d3d;
        font-weight: bold;
        text-decoration: none;
    }

.form-login{
    color:white
}